out
*.so
*.pyc
.config
.config.old
klippy/.version
klippy/extras/aht20_f.py
klippy/extras/box_detect.py
klippy/extras/box_extras.py
klippy/extras/box_rfid.py
klippy/extras/box_stepper.py

!klippy/extras/aht20_f.so
!klippy/extras/box_detect.so
!klippy/extras/box_extras.so
!klippy/extras/box_rfid.so
!klippy/extras/box_stepper.so

